/* google font */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600&family=Ubuntu&display=swap');
/* default css */
*{
    padding:0;
    margin: 0;
    box-sizing:border-box ;
}

section{
    margin-bottom: 100px;
}
h1, h2, h3,h4,h5,h6{
    font-family: 'Saira', sans-serif;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
/*  01 header top */
.header-top{
    background: #033b4a;
    color: #fff;
}
.header-left {
    font-size: 13px;
    font-weight: 400;
    padding-top: 14px;
}

.header-left .location {
    float: right;
}
.header-left i {
    padding-right: 10px;
    color: #00d6a3;
    font-size: 14px;
   
}
.social {}
.header-right {
    display: flex;
    float: right;
}
.header-right .social {
    float: left;
    padding-right: 15px;
    padding-top: 10px;
    
}

.social  li {
    display: inline-block;
    list-style: none;
    padding-right: 15px;
    color: #fff;
}
.social  li a{
    color: #fff;
    transition: .3s;
}
.social  li a:hover{
    color: #00d6a3;
}
.header-top-btn{
    float: right;
}
.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 14px 25px;
    background: #00d6a3;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    line-height: 22px;
    border: none;
    border-radius: 0;
    transition: .3s;
}
.btn:hover{
    background:#fff;
    color:#033b4a ;
}
/* 02  nabvar area */


.NavBar img{
    width: auto;
    height: 35px;  
}
.navbar-nav li {  
    padding-right: 35px;
    }
.navbar .nav-item .nav-link{
    color: #000;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
}
.navbar .nav-item.active .nav-link{
    color: #00d6a3;
}
.navbar .nav-item .nav-link:hover{
    color:#00d6a3 ;
}
/* 03 heder bottom */
.header-bottom{
    margin-bottom: 0;
    background-color: #f9fafa;
}
.cat-des{
    display: flex;
    padding-top: 10px;
}

.header-bottom .icon{
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin-right: 20px;
    text-align: center;
    margin-right: 10px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(3 59 74 / 10%);
}
.icon i {
    color: #00d6a3;
    font-size: 23px;}
.header-content{
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}

.header-content h3 {
    font-size: 16px;
    font-weight: 500;
    color: #033b4a;
}

.header-content h5 {
    font-size: 13px;
    font-weight: 400;
    color: #9dabaf;
   
}
.contact {
       background: #00d6a3;
    margin-top: 20px;
    height: 50px;
    width: 147%;
    color: #fff;
    padding: 20px 10px;
    font-size: 16px;
    font-weight: 500;
}
.contact i{
    padding-right: 15px;
}
/* 04 hero area  */
.hero-area{
    background: url(../images/hero-bg-1.jpeg) no-repeat center/cover;
    height: 100vh;
}
.hero-area .left-area{
    padding-top: 150px;
    color: #fff;
}
.hero-area .left-area img{
    width: 120px;
    
}
.hero-area .left-area h1{
    font-size: 59px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0;
}
.hero-area .left-area h1 span{
    color: #00d6a3;
}
.hero-area .left-area h4{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
}
.hero-area .left-area p{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}
.hero-area-btn .btn{
    border: 1px solid #fff;
    color: #fff;
    background: none;
    transition: .3s;
}
.hero-area-btn .btn:hover{
    background:#fff;
    color:#033b4a ;
}
.hero-area .right-area{
    padding-top: 450px;
    padding-left: 200px;
    color: #fff;
}
.right-area h5{
    font-size: 19px;
    font-weight: 500;
    display: inline-block;
    margin-left: 70px;
}
.right-area span{
    font-size: 23px;
    font-weight: 400;
    padding: 15px;
    border-radius: 5px;
    background: #00d6a3 !important;
    color: #fff !important;
    margin-left: 40px;
}
.right-area h4{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    
}
.right-area h4 a{
    color: #00d6a3;
    text-decoration: underline;
}
/* 05 research  area */
.research{
    background: url(../images/reaserchBG.jpeg) no-repeat center/cover;
    
    
}
.research-left img{
    width: 100%;
}
.research-left .research-btn .btn{
    margin-top: -66px;
    padding: 15px 71px;
}
.research-left .research-btn .btn:hover{
    background: #00d6a3;
    color: #fff;
}
.research-right {
    padding-left: 10px;
    
}
.research-right h4{
    color: #9dabaf;
    font-size: 14px;
    font-weight: 400;
}
.research-right h2{
    color: #033b4a;
    font-size: 39px;
    font-weight: 600;
}
.research-right p{
    color: #9dabaf;
    line-height: 25px;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
}
.research-right  h3{
    color: #033b4a;
    font-size: 20px;
    font-weight: 600;
}
.re-fre-left {
    margin-left: 8px;
}
.research-right .re-fre-left ul{
    list-style: none;
    margin-left: -10px;
    float: left;
    color:#9dabaf ;
    font-size: 15px;
    font-weight: 400;
    
    display: inline-block;
}
.research-right .re-fre-left ul i,
.research-right .re-fre-right ul i{
    margin-top: 10px;
    color: #00d6a3;
    font-size: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.research-right .re-fre-right ul{
    list-style: none;
    float: right;
    color:#9dabaf ;
    font-size: 15px;
    font-weight: 400;
    padding-right: 20px;
}
.reserch-btn1 {
    margin-top:20px ;
}
.reserch-btn1 .btn1{
    margin-right: 20px;
    background:none;
    color: #033b4a;
    border: 1px solid #033b4a;
    padding: 10px 30px;
    transition: .3s;
}
.reserch-btn1 .btn1:hover{
    background: #033b4a;
    color: #fff;
}
.reserch-btn1 .btn{
    padding: 10px 30px;
    transition: .3s;
}
.reserch-btn1 .btn:hover{
    background: #033b4a;
    color: #fff;
}
/*  06 services area */
.services{
    background-color: #F9FAFA;
    height: 100vh;
  
    
}
.service-header{
    text-align: center;
    
}
.service-header h4{
    text-transform: uppercase;
    color: #9dabaf;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
.service-header h2{
    color: #033b4a;
    font-size: 35px;
    font-weight: 600;
}
.service-header p{
    color: #9dabaf;
    font-size: 15px;
    font-weight: 400;
    word-wrap: break-word;
}
.card-deck{
    margin: 50px 0;
}
.card-deck .card{
    background:#fff;
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-deck .card .card-title{
    color: #033b4a;
    font-size: 20px;
    font-weight: 600;
}
.card-deck .card .card-text{
    color: #9dabaf;
    font-size: 15px;
    font-weight: 400;
}
.card-deck .card .readmore{
    color: #00d6a3;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 30px;
    padding-left: 18px;
    transition: .3s;
}
.card-deck .card .readmore:hover{
    color: #033b4a;
}
.service-bottom{
    
    text-align: center;
}
.service-bottom h4{
    color: #9dabaf;
    font-size: 15px;
    font-weight: 600;

}
.service-bottom h4 a{
    text-decoration: underline;
}
/* 07 appointment area */
.appointment{
    background: url(../images/appointmentbg.jpeg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
   padding: 100px 0;
    position: relative;
    color: #fff;
    z-index: 1;
}
.appointment::before{
    content: "";
    position: absolute;
    width:100%;
    height:100%;
    top: 0;
    left: 0;
    background-color: #033b4a;
    opacity: .9;
   z-index: -1;
}
.appointment .content{
    text-align: center;
}
.appointment .content h4{
    Color:#00d6a3;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}
.appointment .content h1{
    font-size: 45px;
    line-height: 50px;
    font-weight: 500;
}
.appointment .content h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
}
.appointment .content .btn{
    margin-top: 20px;
}
/* 08 team area  */
.team {
    background: #FEFEFE;
}
.team .team-single{
    background: #fff;
    padding: 10px;
    box-shadow: 5px 5px 10px lightgrey;
    text-align: center;
    transition: .3s;
}

.team .team-single img{
    width: 100%;
    height: 250px;
}
.single-team-img{
    position: relative;
    transition: .3s;
}
.single-team-img span{
    color: #fff;
    background: #00d6a3;
    font-size: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    line-height: 35px;
    margin-top: -25px;
    margin-left: -25px;
    text-align: center;
    opacity: 0;
    transition: .3s;
    transform: scale(.3);

}
.team .team-single h5{
    text-transform: capitalize;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 400;
    line-height: 25px;
    color: #757575;
    transition: .3s;
}
.team .team-single h3{
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    color: #033b4a;
    transition: .3s;
}
.single-team-img::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #033b4a;
    opacity: 0;
    transition: .3s;
   
}
.team .team-single:hover .single-team-img::before{
    opacity: .9;
}
.team .team-single:hover .single-team-img span{
    opacity: 1;
    transform: scale(1);
}
.team .team-single:hover{
    background: #00d6a3;
    color: #fff;
}
.team-single:hover h5,
.team-single:hover h3{
    color: #fff;
}
/* 09 testimonial area  */
.testimonial{
    background: url(../images/reviewBG.jpeg) no-repeat center/cover;
    position: relative;
    width: 100%;
    min-height: 650px;
    color: #fff;
    padding: 100px 0;
    z-index: -1;
  
  
}
.testimonial::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #033b4a;
    opacity: .9;
    z-index: -1;
}
.testimonial .service-header h4{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.75);
}
.testimonial .service-header h2{
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    color: #fff;
    margin-bottom: 30px;
}
.testimonial .review-img img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 30px;
}
.testimonial .review-img span{
    font-size: 20px;
}
.testimonial  blockquote{
    text-align: center;
    color: #B6C6CA;
    font-size: 18px;
    padding: 0 50px;
    font-weight: 500;
    line-height: 25px;
}
.testimonial .star{
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    color: #ffdd44;
}
.testimonial .author{
    margin-top: 10px;
}
.testimonial .author h3{
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #00d6a3;
}
.testimonial .author h5{
    margin-top: -10px;
    font-size: 11px;
    font-weight: 400;
    line-height: 25px;
    color:rgba(255, 255, 255, 0.75);
}
/* 10 contact-area */
.contact-area{
    background: url(../images/contactBG.jpg) no-repeat center/cover;
}
.contact-area .left-content,
.contact-area .right-content
{
    margin-top: -210px;
    background: #fff;
 
    
}
.contact-area .left-content img{
    width: 100%;
    height: auto;
}
.contact-area .right-content{
    padding: 50px  0;
    margin-left: -30px;
}
.contact-area .right-content p{
    padding: 0 10px;
}
.contact-area  form{
    padding: 30px;
    
}
.contact-area form input{
    background: #F9FAFA;
    color:#9dabaf ;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    border: none;
    padding: 10px 25px;
    margin: 10px 10px;
    position: relative;
   
   
}
/* *************Problem area*****************  */
.contact-area form input::before{
    position: absolute;
    content: "\f0e0";
    font-family: 'Font Awesome 5 Free';
    color: #000;
    font-size: 20px;
    left: 15px;
    top: 12px;
}
.contact-area .contact-btn{
    margin-top: 30px;
    transition: .3s;
}
.contact-area .contact-btn:hover{
    background: #033b4a;
    color: #fff;
}